{{ define "title" }}{{ .Article.Title }}&mdash;George's Blog{{ end }}
{{ define "body" }}
<h1><a href="/">Home</a></h1>
{{ with .Article }}
<div class="article">
    <h1><a href="/a/{{ .Slug }}">{{ .Title }}</a></h1>
    <h2>{{ .CreatedAt }}</h2>
    <div class="article-body">{{ .Contents | html }}</div>
</div>
{{ end }}
{{ end }}
